<section class = "post-sections">
  <%= render @user %>
  
<%= link_to 'Add New Post', new_user_post_path(@user), class: "add-post" if @user == current_user && can?(:create, Post) %>
  <div class='user-posts'>
    <% @user.posts.each do |post| %>
    <a href="<%= user_post_path(@user, post) %>" class = "post-link">
      <%= render post %>
    </a>
    <div class = "comments">
      <% if post.comments.any? %>
        <% post.most_recent_comments.each do |comment| %>
          <p> <%= comment.user.name %> : <%= comment.text %> </p>
        <% end %>
      <% else %>
        <p> there is no comment </p>
      <% end %>
    </div>
    <% end %>
  </div>
  <p class = "pagination"> Pagination </p>
</section>
