<section class = "post-section">
  <div class = "full-post">
    <div class = "title">
      <p> <%= @post.title %> </p>
      <p> Comments: <%= @post.CommentsCounter %>, Likes: <%= @post.LikesCounter %></p>
    </div>
    <div class = "post">
      <p> <%= @post.text %> </p>
    </div>
  </div>
  <div class = "comments">
    <% @post.comments.each do |comment| %>
    <p> <%= comment.user.name %> : <%= comment.text %> </p>
    <% end %>
  </div>
  <div class = "opinion">
    <%= link_to "Add new comment", new_user_post_comment_path(@post.author_id, @post), class: 'add-comment' %> 
</section>