<section class = "post-section">
  <div class = "full-post">
    <div class = "title">
      <p> <%= @post.title %> </p>
      <p> Comments: <%= @post.CommentsCounter %>, Likes: <%= @post.LikesCounter %></p>
    </div>
    <div class = "post">
      <p> <%= @post.text %> </p>
    </div>
    <%= button_to 'Delete Post ðŸ“', user_post_path(user_id: @post.author_id, id: @post.id), method: :delete, class: 'button' if can? :destroy, @post %>
  </div>
  <div class = "comments">
    <% @post.comments.each do |comment| %>
    <p> <%= comment.user.name %> : <%= comment.text %> <%= button_to 'Delete Comment', user_post_comment_path(user_id: comment.user_id, post_id: comment.post_id, id: comment.id), method: :delete, class: 'button' if can? :destroy, comment %> </p>
    <% end %>
  </div>
  <div class = "opinion">
    <%= link_to "Add new comment", new_user_post_comment_path(@post.author_id, @post), class: 'add-comment' %> 
    <%= form_with url: user_post_likes_path(@post.author_id, @post), method: :post, local: true do |f| %>
      <%= f.submit "Like Post" , class: "btn btn-primary" %>
    <% end %>
  </div>
</section>
